# Ignore anything without an extension
*
!*/
!*.*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE Files
.idea/
cmake-build-*/


#N-Body simulation output files
*.nbody

#CSV
*.csv

# General compilation output files on Beocat
_cmrc/
cmake/
cpm-package-lock.cmake

# Target outputs on Beocat
src/burtscher/burtcher_cuda_implementation
burtscher_cuda_implementation
src/nyland/nyland_cuda_implementation
nyland_cuda_implementation
src/serial/serial_direct_sum
